flow.json
[
    {
        "id": "d821cc0e9fee2262",
        "type": "tab",
        "label": "Comunicacions_1",
        "disabled": false,
        "info": "Primera prova de comunicacions",
        "env": []
    },
    {
        "id": "e51deeae8d60976c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f98de58bc05c7b9",
        "type": "subflow",
        "name": "Alive_sensors",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "0965d1af9331699a",
        "type": "subflow",
        "name": "MPU6050",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Main",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    },
    {
        "id": "9b75a986a826318a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2f70a0d2.a0ff7",
        "type": "mqtt-broker",
        "name": "iot.eclipse.org",
        "broker": "iot.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "5",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "41966ddc.701f44",
        "type": "ui_group",
        "name": "MPU6050",
        "tab": "e7c46d5e.a1283",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bcf4c731dd8d45fc",
        "type": "ui_group",
        "name": "Brúixola",
        "tab": "e7c46d5e.a1283",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f98bb1a78f5febf5",
        "type": "ui_led",
        "z": "9f98de58bc05c7b9",
        "order": 1,
        "group": "61285987.c20328",
        "width": "5",
        "height": "1",
        "label": "Temperatura",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "disconnected",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "connected",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "ed8ad9234c69a730",
        "type": "mqtt in",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "topic": "esp32/alive_temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 80,
        "wires": [
            [
                "793df4709efae295",
                "f98bb1a78f5febf5"
            ]
        ]
    },
    {
        "id": "793df4709efae295",
        "type": "debug",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "fc702e85a0c6fa40",
        "type": "ui_led",
        "z": "9f98de58bc05c7b9",
        "order": 4,
        "group": "61285987.c20328",
        "width": "5",
        "height": "1",
        "label": "GPS",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "disconnected",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "connected",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "c2f949a3ddb8348e",
        "type": "mqtt in",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "topic": "esp32/alive_gps",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "8dc67c15df9cd1f4",
                "fc702e85a0c6fa40"
            ]
        ]
    },
    {
        "id": "8dc67c15df9cd1f4",
        "type": "debug",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "a9db89c0db77012c",
        "type": "ui_led",
        "z": "9f98de58bc05c7b9",
        "order": 5,
        "group": "61285987.c20328",
        "width": "5",
        "height": "1",
        "label": "Acceleròmetre",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "disconnected",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "connected",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 360,
        "wires": []
    },
    {
        "id": "0f823baaabc2933c",
        "type": "mqtt in",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "topic": "esp32/alive_gyro",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "9b0949deebaa2431",
                "a9db89c0db77012c"
            ]
        ]
    },
    {
        "id": "9b0949deebaa2431",
        "type": "debug",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 300,
        "wires": []
    },
    {
        "id": "7b861d89d1a074d6",
        "type": "ui_led",
        "z": "9f98de58bc05c7b9",
        "order": 6,
        "group": "61285987.c20328",
        "width": "5",
        "height": "1",
        "label": "Brúixola",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "disconnected",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "connected",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 480,
        "wires": []
    },
    {
        "id": "bacf20bf4d68454e",
        "type": "mqtt in",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "topic": "esp32/alive_bruixola",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 130,
        "y": 440,
        "wires": [
            [
                "0b3e4f2f015b9876",
                "7b861d89d1a074d6"
            ]
        ]
    },
    {
        "id": "0b3e4f2f015b9876",
        "type": "debug",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 420,
        "wires": []
    },
    {
        "id": "fbce4d15d5aaf976",
        "type": "ui_led",
        "z": "9f98de58bc05c7b9",
        "order": 7,
        "group": "61285987.c20328",
        "width": "5",
        "height": "1",
        "label": "Nivell d'aigua",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "disconnected",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "connected",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 870,
        "y": 120,
        "wires": []
    },
    {
        "id": "b19392fdb150acf0",
        "type": "mqtt in",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "topic": "esp32/alive_nivell",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 600,
        "y": 80,
        "wires": [
            [
                "d3c6129c19dca532",
                "fbce4d15d5aaf976"
            ]
        ]
    },
    {
        "id": "d3c6129c19dca532",
        "type": "debug",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 60,
        "wires": []
    },
    {
        "id": "daf2b38c629680ab",
        "type": "mqtt in",
        "z": "0965d1af9331699a",
        "name": "",
        "topic": "accelerationX",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "092fb224923e6f01",
                "7fee6a5d91cf7209"
            ]
        ]
    },
    {
        "id": "df3b3f1b798d7eea",
        "type": "mqtt in",
        "z": "0965d1af9331699a",
        "name": "",
        "topic": "accelerationY",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 160,
        "wires": [
            [
                "c2e89b017414b834",
                "a584961d9b96a8b3"
            ]
        ]
    },
    {
        "id": "8111df2667ec1079",
        "type": "mqtt in",
        "z": "0965d1af9331699a",
        "name": "",
        "topic": "accelerationZ",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "f070f40e7eca6148",
                "df439238f2ab065c"
            ]
        ]
    },
    {
        "id": "39029fb5c802dac3",
        "type": "mqtt in",
        "z": "0965d1af9331699a",
        "name": "",
        "topic": "esp32/gyroX",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "29765a4739b52adf",
                "85f08f4ba80282a5"
            ]
        ]
    },
    {
        "id": "7e833825ada4657e",
        "type": "mqtt in",
        "z": "0965d1af9331699a",
        "name": "",
        "topic": "esp32/gyroY",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 299,
        "y": 496,
        "wires": [
            [
                "f4b2255b35c4a5de",
                "c622518ce6e69554"
            ]
        ]
    },
    {
        "id": "2f63044a00eed04e",
        "type": "mqtt in",
        "z": "0965d1af9331699a",
        "name": "",
        "topic": "esp32/gyroZ",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 356,
        "y": 563,
        "wires": [
            [
                "0246ac2cbd92f7dd",
                "f0629ac9738a67d0"
            ]
        ]
    },
    {
        "id": "092fb224923e6f01",
        "type": "ui_gauge",
        "z": "0965d1af9331699a",
        "name": "",
        "group": "41966ddc.701f44",
        "order": 1,
        "width": "5",
        "height": "5",
        "gtype": "compass",
        "title": "X",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "c2e89b017414b834",
        "type": "ui_gauge",
        "z": "0965d1af9331699a",
        "name": "",
        "group": "41966ddc.701f44",
        "order": 3,
        "width": "5",
        "height": "5",
        "gtype": "compass",
        "title": "Y",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "f070f40e7eca6148",
        "type": "ui_gauge",
        "z": "0965d1af9331699a",
        "name": "",
        "group": "41966ddc.701f44",
        "order": 5,
        "width": "5",
        "height": "5",
        "gtype": "compass",
        "title": "Z",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "29765a4739b52adf",
        "type": "ui_gauge",
        "z": "0965d1af9331699a",
        "name": "",
        "group": "41966ddc.701f44",
        "order": 2,
        "width": "5",
        "height": "5",
        "gtype": "wave",
        "title": "X Rotate",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "65536",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 586,
        "y": 323,
        "wires": []
    },
    {
        "id": "f4b2255b35c4a5de",
        "type": "ui_gauge",
        "z": "0965d1af9331699a",
        "name": "",
        "group": "41966ddc.701f44",
        "order": 4,
        "width": "5",
        "height": "5",
        "gtype": "wave",
        "title": "Y Rotate",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 586,
        "y": 443,
        "wires": []
    },
    {
        "id": "0246ac2cbd92f7dd",
        "type": "ui_gauge",
        "z": "0965d1af9331699a",
        "name": "",
        "group": "41966ddc.701f44",
        "order": 6,
        "width": "5",
        "height": "5",
        "gtype": "wave",
        "title": "Z Rotate",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 566,
        "y": 563,
        "wires": []
    },
    {
        "id": "7fee6a5d91cf7209",
        "type": "debug",
        "z": "0965d1af9331699a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "a584961d9b96a8b3",
        "type": "debug",
        "z": "0965d1af9331699a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "df439238f2ab065c",
        "type": "debug",
        "z": "0965d1af9331699a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "85f08f4ba80282a5",
        "type": "debug",
        "z": "0965d1af9331699a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 596,
        "y": 383,
        "wires": []
    },
    {
        "id": "c622518ce6e69554",
        "type": "debug",
        "z": "0965d1af9331699a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 596,
        "y": 483,
        "wires": []
    },
    {
        "id": "f0629ac9738a67d0",
        "type": "debug",
        "z": "0965d1af9331699a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 576,
        "y": 623,
        "wires": []
    },
    {
        "id": "9e58624.7faaba",
        "type": "mqtt out",
        "z": "d821cc0e9fee2262",
        "name": "",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "broker": "10e78a89.5b4fd5",
        "x": 570,
        "y": 540,
        "wires": []
    },
    {
        "id": "abf7079a.653be8",
        "type": "mqtt in",
        "z": "d821cc0e9fee2262",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "broker": "10e78a89.5b4fd5",
        "inputs": 0,
        "x": 344,
        "y": 367,
        "wires": [
            [
                "cc79021b.9a751",
                "21eae8f8.2971b8"
            ]
        ]
    },
    {
        "id": "83cf37cf.c76988",
        "type": "ui_switch",
        "z": "d821cc0e9fee2262",
        "name": "",
        "label": "LED test",
        "tooltip": "",
        "group": "61285987.c20328",
        "order": 9,
        "width": "5",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 320,
        "y": 540,
        "wires": [
            [
                "9e58624.7faaba"
            ]
        ]
    },
    {
        "id": "cc79021b.9a751",
        "type": "debug",
        "z": "d821cc0e9fee2262",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 541,
        "y": 334,
        "wires": []
    },
    {
        "id": "4aecba01.78ce64",
        "type": "mqtt in",
        "z": "d821cc0e9fee2262",
        "name": "",
        "topic": "esp32/nivell_aigua",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 343,
        "y": 251,
        "wires": [
            [
                "22efa7b7.544a28",
                "d291f23e37563030"
            ]
        ]
    },
    {
        "id": "22efa7b7.544a28",
        "type": "debug",
        "z": "d821cc0e9fee2262",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 530,
        "y": 218,
        "wires": []
    },
    {
        "id": "21eae8f8.2971b8",
        "type": "ui_chart",
        "z": "d821cc0e9fee2262",
        "name": "",
        "group": "61285987.c20328",
        "order": 2,
        "width": "10",
        "height": "6",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 541,
        "y": 394,
        "wires": [
            []
        ]
    },
    {
        "id": "98809a7822b65077",
        "type": "ui_led",
        "z": "d821cc0e9fee2262",
        "order": 8,
        "group": "61285987.c20328",
        "width": "5",
        "height": "1",
        "label": "Alive indicator",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "disconnected",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "connected",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "15ea81d0abda17c9",
        "type": "mqtt in",
        "z": "d821cc0e9fee2262",
        "name": "",
        "topic": "esp32/alive",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "cd4ac14b6e66ba23",
                "98809a7822b65077"
            ]
        ]
    },
    {
        "id": "cd4ac14b6e66ba23",
        "type": "debug",
        "z": "d821cc0e9fee2262",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "d9eb5a3d0dbb2db8",
        "type": "subflow:9f98de58bc05c7b9",
        "z": "d821cc0e9fee2262",
        "name": "",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "d291f23e37563030",
        "type": "ui_chart",
        "z": "d821cc0e9fee2262",
        "name": "",
        "group": "61285987.c20328",
        "order": 3,
        "width": "10",
        "height": "6",
        "label": "Nivell d'aigua",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e2f881b728020153",
        "type": "subflow:0965d1af9331699a",
        "z": "d821cc0e9fee2262",
        "name": "",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "6323ef0c607d3867",
        "type": "mqtt in",
        "z": "d821cc0e9fee2262",
        "name": "",
        "topic": "headingDegrees",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 320,
        "y": 460,
        "wires": [
            [
                "c5b5a7d0e7b9e29c",
                "40dcde2e07b78620"
            ]
        ]
    },
    {
        "id": "c5b5a7d0e7b9e29c",
        "type": "debug",
        "z": "d821cc0e9fee2262",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 440,
        "wires": []
    },
    {
        "id": "40dcde2e07b78620",
        "type": "ui_gauge",
        "z": "d821cc0e9fee2262",
        "name": "",
        "group": "bcf4c731dd8d45fc",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "compass",
        "title": "Brúixola",
        "label": "graus",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "bec07115.9b64a",
        "type": "compass-point",
        "z": "e51deeae8d60976c",
        "direction": "toCompass",
        "subset": "secondary",
        "language": "en",
        "inputField": "payload",
        "outputField": "payload",
        "name": "",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "cc38d99.2386a28"
            ]
        ]
    },
    {
        "id": "122e96c9.988c69",
        "type": "inject",
        "z": "e51deeae8d60976c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "270",
        "payloadType": "num",
        "x": 290,
        "y": 240,
        "wires": [
            [
                "bec07115.9b64a"
            ]
        ]
    },
    {
        "id": "cc38d99.2386a28",
        "type": "debug",
        "z": "e51deeae8d60976c",
        "name": "Compass point",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 240,
        "wires": []
    },
    {
        "id": "6e6a70de.f4f7e",
        "type": "compass-point",
        "z": "e51deeae8d60976c",
        "direction": "toDegree",
        "subset": "secondary",
        "language": "en",
        "inputField": "payload",
        "outputField": "payload",
        "name": "",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "f863e65b.64a378"
            ]
        ]
    },
    {
        "id": "bba77ff8.e726",
        "type": "inject",
        "z": "e51deeae8d60976c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "W",
        "payloadType": "str",
        "x": 290,
        "y": 300,
        "wires": [
            [
                "6e6a70de.f4f7e"
            ]
        ]
    },
    {
        "id": "f863e65b.64a378",
        "type": "debug",
        "z": "e51deeae8d60976c",
        "name": "Degree",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 650,
        "y": 300,
        "wires": []
    }
]