flow.json
[
    {
        "id": "d821cc0e9fee2262",
        "type": "tab",
        "label": "Sensors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ce0c5f0bae4cb7d0",
        "type": "tab",
        "label": "Motors",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9f98de58bc05c7b9",
        "type": "subflow",
        "name": "Alive_sensors",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "0965d1af9331699a",
        "type": "subflow",
        "name": "MPU6050",
        "info": "",
        "category": "",
        "in": [],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "2f70a0d2.a0ff7",
        "type": "mqtt-broker",
        "name": "iot.eclipse.org",
        "broker": "iot.eclipse.org",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "5",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "61285987.c20328",
        "type": "ui_group",
        "name": "Indicadors d'estat",
        "tab": "e7c46d5e.a1283",
        "order": 1,
        "disp": true,
        "width": "4",
        "collapse": false,
        "className": ""
    },
    {
        "id": "41966ddc.701f44",
        "type": "ui_group",
        "name": "MPU6050",
        "tab": "e7c46d5e.a1283",
        "order": 6,
        "disp": true,
        "width": "9",
        "collapse": false,
        "className": ""
    },
    {
        "id": "592e27d40a230c67",
        "type": "ui_group",
        "name": "Interior vaixell",
        "tab": "e7c46d5e.a1283",
        "order": 2,
        "disp": true,
        "width": "10",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2765f66b230c1565",
        "type": "ui_group",
        "name": "GPS",
        "tab": "e7c46d5e.a1283",
        "order": 7,
        "disp": true,
        "width": "11",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7a832387.7a6c6c",
        "type": "ui_group",
        "name": "Map",
        "tab": "f76c8797.584da8",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "a082d5ab.8a1268",
        "type": "ui_group",
        "name": "History",
        "tab": "f76c8797.584da8",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8930f03.56e081",
        "type": "ui_group",
        "name": "Speed, Altitude, Accuracy chart",
        "tab": "f76c8797.584da8",
        "order": 4,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "7cc9c15c.f49b6",
        "type": "ui_group",
        "name": "Tracks",
        "tab": "f76c8797.584da8",
        "order": 5,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "e7c46d5e.a1283",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard"
    },
    {
        "id": "f76c8797.584da8",
        "type": "ui_tab",
        "name": "GPS Tracker",
        "icon": "gps_fixed",
        "order": 21
    },
    {
        "id": "9b75a986a826318a",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1223e2e1456a7e0d",
        "type": "ui_group",
        "name": "Control",
        "tab": "e7c46d5e.a1283",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0fb6ca9b4bf7f307",
        "type": "ui_spacer",
        "z": "9f98de58bc05c7b9",
        "name": "spacer",
        "group": "1223e2e1456a7e0d",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "ed8ad9234c69a730",
        "type": "mqtt in",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "topic": "esp32/estat_ta",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 80,
        "wires": [
            [
                "793df4709efae295",
                "9319a9ba9c685643"
            ]
        ]
    },
    {
        "id": "793df4709efae295",
        "type": "debug",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 60,
        "wires": []
    },
    {
        "id": "c2f949a3ddb8348e",
        "type": "mqtt in",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "topic": "esp32/estat_gps",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "8dc67c15df9cd1f4",
                "eb4e23e9dbfb569c"
            ]
        ]
    },
    {
        "id": "8dc67c15df9cd1f4",
        "type": "debug",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 180,
        "wires": []
    },
    {
        "id": "0f823baaabc2933c",
        "type": "mqtt in",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "topic": "esp32/estat_mpu",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "9b0949deebaa2431",
                "3cd336405a98aebe"
            ]
        ]
    },
    {
        "id": "9b0949deebaa2431",
        "type": "debug",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 300,
        "wires": []
    },
    {
        "id": "bacf20bf4d68454e",
        "type": "mqtt in",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "topic": "esp32/estat_hmc",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 120,
        "y": 440,
        "wires": [
            [
                "0b3e4f2f015b9876",
                "9b5df2e59c8fa9c0"
            ]
        ]
    },
    {
        "id": "0b3e4f2f015b9876",
        "type": "debug",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 420,
        "wires": []
    },
    {
        "id": "b19392fdb150acf0",
        "type": "mqtt in",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "topic": "esp32/estat_ind",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 600,
        "y": 80,
        "wires": [
            [
                "d3c6129c19dca532",
                "fc2e4d69e94719b2"
            ]
        ]
    },
    {
        "id": "d3c6129c19dca532",
        "type": "debug",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 60,
        "wires": []
    },
    {
        "id": "569cfb04f7ef1be4",
        "type": "mqtt in",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "topic": "esp32/estat_current",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 610,
        "y": 300,
        "wires": [
            [
                "418ca11f30d8d97c",
                "a66159577078965c"
            ]
        ]
    },
    {
        "id": "418ca11f30d8d97c",
        "type": "debug",
        "z": "9f98de58bc05c7b9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 280,
        "wires": []
    },
    {
        "id": "9319a9ba9c685643",
        "type": "ui_led",
        "z": "9f98de58bc05c7b9",
        "order": 1,
        "group": "61285987.c20328",
        "width": "4",
        "height": 1,
        "label": "Temperatura",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0.00",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1.00",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 120,
        "wires": []
    },
    {
        "id": "eb4e23e9dbfb569c",
        "type": "ui_led",
        "z": "9f98de58bc05c7b9",
        "order": 2,
        "group": "61285987.c20328",
        "width": "4",
        "height": 1,
        "label": "GPS",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0.00",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1.00",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "9b5df2e59c8fa9c0",
        "type": "ui_led",
        "z": "9f98de58bc05c7b9",
        "order": 3,
        "group": "61285987.c20328",
        "width": "4",
        "height": 1,
        "label": "Brúixola",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0.00",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1.00",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 460,
        "wires": []
    },
    {
        "id": "fc2e4d69e94719b2",
        "type": "ui_led",
        "z": "9f98de58bc05c7b9",
        "order": 4,
        "group": "61285987.c20328",
        "width": "4",
        "height": 1,
        "label": "Inundació",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0.00",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1.00",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 870,
        "y": 100,
        "wires": []
    },
    {
        "id": "a66159577078965c",
        "type": "ui_led",
        "z": "9f98de58bc05c7b9",
        "order": 5,
        "group": "61285987.c20328",
        "width": "4",
        "height": 1,
        "label": "Corrent",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0.00",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1.00",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "3cd336405a98aebe",
        "type": "ui_led",
        "z": "9f98de58bc05c7b9",
        "order": 6,
        "group": "61285987.c20328",
        "width": "4",
        "height": 1,
        "label": "MPU6050",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "0.00",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "1.00",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "daf2b38c629680ab",
        "type": "mqtt in",
        "z": "0965d1af9331699a",
        "name": "",
        "topic": "esp32/accelerationX",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "7fee6a5d91cf7209",
                "94f9113cf0ca3d1d"
            ]
        ]
    },
    {
        "id": "df3b3f1b798d7eea",
        "type": "mqtt in",
        "z": "0965d1af9331699a",
        "name": "",
        "topic": "esp32/accelerationY",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 310,
        "y": 160,
        "wires": [
            [
                "a584961d9b96a8b3",
                "3d42a6a454fb5e44"
            ]
        ]
    },
    {
        "id": "8111df2667ec1079",
        "type": "mqtt in",
        "z": "0965d1af9331699a",
        "name": "",
        "topic": "esp32/accelerationZ",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 310,
        "y": 260,
        "wires": [
            [
                "df439238f2ab065c",
                "720ebf613d5ca7d8"
            ]
        ]
    },
    {
        "id": "39029fb5c802dac3",
        "type": "mqtt in",
        "z": "0965d1af9331699a",
        "name": "",
        "topic": "esp32/gyroX",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "85f08f4ba80282a5",
                "f8a611ca6566e49f"
            ]
        ]
    },
    {
        "id": "7e833825ada4657e",
        "type": "mqtt in",
        "z": "0965d1af9331699a",
        "name": "",
        "topic": "esp32/gyroY",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 299,
        "y": 496,
        "wires": [
            [
                "c622518ce6e69554",
                "effb3641925bfc87"
            ]
        ]
    },
    {
        "id": "2f63044a00eed04e",
        "type": "mqtt in",
        "z": "0965d1af9331699a",
        "name": "",
        "topic": "esp32/gyroZ",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 356,
        "y": 563,
        "wires": [
            [
                "f0629ac9738a67d0",
                "45bb0fa38686adaf"
            ]
        ]
    },
    {
        "id": "7fee6a5d91cf7209",
        "type": "debug",
        "z": "0965d1af9331699a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 80,
        "wires": []
    },
    {
        "id": "a584961d9b96a8b3",
        "type": "debug",
        "z": "0965d1af9331699a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "df439238f2ab065c",
        "type": "debug",
        "z": "0965d1af9331699a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "85f08f4ba80282a5",
        "type": "debug",
        "z": "0965d1af9331699a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 596,
        "y": 383,
        "wires": []
    },
    {
        "id": "c622518ce6e69554",
        "type": "debug",
        "z": "0965d1af9331699a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 596,
        "y": 483,
        "wires": []
    },
    {
        "id": "f0629ac9738a67d0",
        "type": "debug",
        "z": "0965d1af9331699a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 576,
        "y": 623,
        "wires": []
    },
    {
        "id": "94f9113cf0ca3d1d",
        "type": "ui_gauge",
        "z": "0965d1af9331699a",
        "name": "",
        "group": "41966ddc.701f44",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "X",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 550,
        "y": 40,
        "wires": []
    },
    {
        "id": "3d42a6a454fb5e44",
        "type": "ui_gauge",
        "z": "0965d1af9331699a",
        "name": "",
        "group": "41966ddc.701f44",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "Y",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 590,
        "y": 120,
        "wires": []
    },
    {
        "id": "720ebf613d5ca7d8",
        "type": "ui_gauge",
        "z": "0965d1af9331699a",
        "name": "",
        "group": "41966ddc.701f44",
        "order": 3,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "Z",
        "label": "m/s^2",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 570,
        "y": 220,
        "wires": []
    },
    {
        "id": "f8a611ca6566e49f",
        "type": "ui_gauge",
        "z": "0965d1af9331699a",
        "name": "",
        "group": "41966ddc.701f44",
        "order": 4,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "X Rotate",
        "label": " rad/s",
        "format": "{{value}}",
        "min": 0,
        "max": "65536",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 340,
        "wires": []
    },
    {
        "id": "effb3641925bfc87",
        "type": "ui_gauge",
        "z": "0965d1af9331699a",
        "name": "",
        "group": "41966ddc.701f44",
        "order": 5,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "Y Rotate",
        "label": " rad/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 600,
        "y": 440,
        "wires": []
    },
    {
        "id": "45bb0fa38686adaf",
        "type": "ui_gauge",
        "z": "0965d1af9331699a",
        "name": "",
        "group": "41966ddc.701f44",
        "order": 6,
        "width": 3,
        "height": 3,
        "gtype": "wave",
        "title": "Z Rotate",
        "label": " rad/s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "abf7079a.653be8",
        "type": "mqtt in",
        "z": "d821cc0e9fee2262",
        "name": "",
        "topic": "esp32/temperature",
        "qos": "2",
        "broker": "10e78a89.5b4fd5",
        "inputs": 0,
        "x": 164,
        "y": 407,
        "wires": [
            [
                "cc79021b.9a751",
                "21eae8f8.2971b8"
            ]
        ]
    },
    {
        "id": "cc79021b.9a751",
        "type": "debug",
        "z": "d821cc0e9fee2262",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 361,
        "y": 374,
        "wires": []
    },
    {
        "id": "4aecba01.78ce64",
        "type": "mqtt in",
        "z": "d821cc0e9fee2262",
        "name": "",
        "topic": "esp32/inundacio",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 220,
        "wires": [
            [
                "22efa7b7.544a28",
                "5ae224b5be3391de"
            ]
        ]
    },
    {
        "id": "22efa7b7.544a28",
        "type": "debug",
        "z": "d821cc0e9fee2262",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 198,
        "wires": []
    },
    {
        "id": "15ea81d0abda17c9",
        "type": "mqtt in",
        "z": "d821cc0e9fee2262",
        "name": "",
        "topic": "esp32/current",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 170,
        "y": 80,
        "wires": [
            [
                "cd4ac14b6e66ba23",
                "2d9d117c53fb470b"
            ]
        ]
    },
    {
        "id": "cd4ac14b6e66ba23",
        "type": "debug",
        "z": "d821cc0e9fee2262",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 390,
        "y": 60,
        "wires": []
    },
    {
        "id": "d9eb5a3d0dbb2db8",
        "type": "subflow:9f98de58bc05c7b9",
        "z": "d821cc0e9fee2262",
        "name": "",
        "env": [],
        "x": 790,
        "y": 80,
        "wires": []
    },
    {
        "id": "e2f881b728020153",
        "type": "subflow:0965d1af9331699a",
        "z": "d821cc0e9fee2262",
        "name": "",
        "env": [],
        "x": 790,
        "y": 40,
        "wires": []
    },
    {
        "id": "6323ef0c607d3867",
        "type": "mqtt in",
        "z": "d821cc0e9fee2262",
        "name": "",
        "topic": "esp32/headingDegrees",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 160,
        "y": 500,
        "wires": [
            [
                "c5b5a7d0e7b9e29c",
                "40dcde2e07b78620"
            ]
        ]
    },
    {
        "id": "c5b5a7d0e7b9e29c",
        "type": "debug",
        "z": "d821cc0e9fee2262",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 480,
        "wires": []
    },
    {
        "id": "8c55ab3d94d69061",
        "type": "mqtt in",
        "z": "d821cc0e9fee2262",
        "name": "",
        "topic": "esp32/latitude",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 790,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "72e2f9b207e6372c",
        "type": "mqtt in",
        "z": "d821cc0e9fee2262",
        "name": "",
        "topic": "esp32/longitude",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 800,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "40dcde2e07b78620",
        "type": "ui_gauge",
        "z": "d821cc0e9fee2262",
        "name": "",
        "group": "61285987.c20328",
        "order": 7,
        "width": 4,
        "height": 4,
        "gtype": "compass",
        "title": "Brúixola",
        "label": "graus",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 380,
        "y": 520,
        "wires": []
    },
    {
        "id": "21eae8f8.2971b8",
        "type": "ui_chart",
        "z": "d821cc0e9fee2262",
        "name": "",
        "group": "592e27d40a230c67",
        "order": 2,
        "width": 5,
        "height": 5,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "15",
        "ymax": "30",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "1",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 361,
        "y": 434,
        "wires": [
            []
        ]
    },
    {
        "id": "2d9d117c53fb470b",
        "type": "ui_gauge",
        "z": "d821cc0e9fee2262",
        "name": "",
        "group": "592e27d40a230c67",
        "order": 1,
        "width": "5",
        "height": 5,
        "gtype": "gage",
        "title": "Current",
        "label": "A",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "7",
        "seg2": "9.1",
        "className": "",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "1415728152e67db6",
        "type": "ui_toast",
        "z": "d821cc0e9fee2262",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": true,
        "className": "",
        "topic": "ALARMA",
        "name": "",
        "x": 530,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5ae224b5be3391de",
        "type": "function",
        "z": "d821cc0e9fee2262",
        "name": "",
        "func": "\nif(msg.payload==\"0.00\"){\n    msg.topic=\"ALARMA\";\n    msg.payload=\"Ha entrat aigua al vaixell!\";\n    msg.highlight='red';\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "1415728152e67db6"
            ]
        ]
    },
    {
        "id": "52813fb5e21c7816",
        "type": "mqtt in",
        "z": "d821cc0e9fee2262",
        "name": "",
        "topic": "esp32/GPS_data",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 100,
        "y": 680,
        "wires": [
            [
                "e6171cb03737aec0",
                "5b4788f4efe857b1"
            ]
        ]
    },
    {
        "id": "e6171cb03737aec0",
        "type": "debug",
        "z": "d821cc0e9fee2262",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 660,
        "wires": []
    },
    {
        "id": "734487e027bd9a84",
        "type": "function",
        "z": "d821cc0e9fee2262",
        "name": "convert",
        "func": "return{\n    payload: {\n        lon: msg.payload.longitude,\n        lat: msg.payload.latitude,\n        name: \"Barcelona\",\n        popped: true\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 720,
        "wires": [
            [
                "30e37e4a6bb7eb51"
            ]
        ]
    },
    {
        "id": "30e37e4a6bb7eb51",
        "type": "worldmap",
        "z": "d821cc0e9fee2262",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 720,
        "y": 720,
        "wires": []
    },
    {
        "id": "5b4788f4efe857b1",
        "type": "json",
        "z": "d821cc0e9fee2262",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 310,
        "y": 720,
        "wires": [
            [
                "734487e027bd9a84"
            ]
        ]
    },
    {
        "id": "65386ab26a6c134d",
        "type": "mqtt out",
        "z": "ce0c5f0bae4cb7d0",
        "name": "",
        "topic": "esp32/motor1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "a5d9766cbfbf514d",
        "type": "mqtt out",
        "z": "ce0c5f0bae4cb7d0",
        "name": "",
        "topic": "esp32/motor2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 520,
        "y": 360,
        "wires": []
    },
    {
        "id": "08a5bbd616e0435b",
        "type": "ui_slider",
        "z": "ce0c5f0bae4cb7d0",
        "name": "",
        "label": "motor1",
        "tooltip": "",
        "group": "1223e2e1456a7e0d",
        "order": 3,
        "width": 1,
        "height": 8,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "65386ab26a6c134d",
                "c4bfcc5a982fa3fa",
                "52dafa671c9cd0aa"
            ]
        ]
    },
    {
        "id": "0ae9266193b156fc",
        "type": "ui_slider",
        "z": "ce0c5f0bae4cb7d0",
        "name": "",
        "label": "motor2",
        "tooltip": "",
        "group": "1223e2e1456a7e0d",
        "order": 4,
        "width": 1,
        "height": 8,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": "10",
        "className": "",
        "x": 240,
        "y": 420,
        "wires": [
            [
                "a5d9766cbfbf514d",
                "b97f87402cfe0e35",
                "c077141757e872ef"
            ]
        ]
    },
    {
        "id": "c4bfcc5a982fa3fa",
        "type": "debug",
        "z": "ce0c5f0bae4cb7d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 200,
        "wires": []
    },
    {
        "id": "b97f87402cfe0e35",
        "type": "debug",
        "z": "ce0c5f0bae4cb7d0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 420,
        "wires": []
    },
    {
        "id": "52dafa671c9cd0aa",
        "type": "ui_gauge",
        "z": "ce0c5f0bae4cb7d0",
        "name": "",
        "group": "1223e2e1456a7e0d",
        "order": 5,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Motor 1",
        "label": "",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 510,
        "y": 80,
        "wires": []
    },
    {
        "id": "c077141757e872ef",
        "type": "ui_gauge",
        "z": "ce0c5f0bae4cb7d0",
        "name": "",
        "group": "1223e2e1456a7e0d",
        "order": 6,
        "width": 5,
        "height": 4,
        "gtype": "gage",
        "title": "Motor 2",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "70",
        "className": "",
        "x": 510,
        "y": 320,
        "wires": []
    },
    {
        "id": "5288d8b228548357",
        "type": "mqtt out",
        "z": "ce0c5f0bae4cb7d0",
        "name": "",
        "topic": "esp32/power",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 490,
        "y": 580,
        "wires": []
    },
    {
        "id": "2fcac8b744443e43",
        "type": "ui_switch",
        "z": "ce0c5f0bae4cb7d0",
        "name": "",
        "label": "POWER",
        "tooltip": "",
        "group": "1223e2e1456a7e0d",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 240,
        "y": 580,
        "wires": [
            [
                "5288d8b228548357"
            ]
        ]
    }
]